@media (max-width: $tablet-width) {
  .burger {
    box-sizing: content-box;
    display: flex;
    width: 22px;
    height: 14px;
    padding: 18px 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-accent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &:active {
      background-color: $color-accent-hover;
    }
  }

  .burger__line {
    width: 100%;
    height: 1px;
    background-color: $color-white;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .burger__line::before,
  .burger__line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-white;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .burger__line::before {
    margin-top: -6px;
  }

  .burger__line::after {
    margin-top: 11px;
  }

  .burger.burger__active {
    width: 32px;
    height: 32px;
    padding: 9px;
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
  }

  .burger__active .burger__line {
    background-color: transparent;
  }

  .burger__active .burger__line::before {
    transform: translateY(6px) rotate(-45deg);
  }

  .burger__active .burger__line::after {
    transform: translateY(-6px) rotate(45deg);
  }

  .burger__active .burger__line::before,
  .burger__active .burger__line::after {
    background-color: rgba(20, 21, 23, 0.2);
  }

}
