.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-black-title;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.contacts p {
  max-width: 555px;
  margin: 0;
  margin-bottom: 41px;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  color: $color-black-a70;

  @media (max-width: $tablet-width) {
    max-width: none;
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    max-width: 260px;
    margin-bottom: 19px;
  }
}

.contacts__map {
  margin-bottom: 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: #{0 - $mobile-padding};
    width: calc(100% + #{$mobile-padding} * 2);
  }
}

.contacts__links {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-a50;
  list-style: none;

  @media (max-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    justify-content: center;
  }
}

.contacts__links-item {
  margin-bottom: 15px;
  margin-right: 90px;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 20px;
    width: auto;
  }
}

.contacts__links-item:not(:nth-of-type(2n-2)) {
  @media (max-width: $tablet-width) {
  }
  @media (max-width: $mobile-width) {
  }
}

.contacts__links-item:not(:nth-of-type(2n-1)) {
  @media (max-width: $tablet-width) {
    padding-left: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.contacts__links-item a {
  display: flex;
  color: inherit;
  align-items: flex-end;

  &:focus,
  &:hover {
    transition: color 0.2s ease-out;
    color: $color-accent;
  }
}

.contacts__links-item svg {
  color: $color-accent;
}

.contacts__links-item span {
  padding-left: 15px;
}
