.facts {
  margin-bottom: 150px;
}

.facts h2 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.facts__list {
  counter-reset: facts-counter;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.facts__list li {
  margin: 0 auto;
  margin-bottom: 43px;
  padding: 0 10px;
  max-width: 25%;
  font-size: 22px;
  line-height: 34px;
  text-align: center;

  &::before {
    counter-increment: facts-counter;
    content: counter(facts-counter, decimal-leading-zero);
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: $color-accent;

    @media (max-width: $mobile-width) {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 260px;
    padding-right: 5px;
    padding-left: 5px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    font-size: 18px;
    line-height: 34px;
  }
}
