.page--menu-open {
  height: calc(100vh + 200px);
  overflow: hidden;
}

.page--modal-open {
  height: 100vh;
  overflow: hidden;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.page__footer {
  flex: 0 0 auto;
}

.page__main {
  flex: 1 0 auto;
}
