// Цвета
$color-accent: rgb(10, 217, 198);
$color-accent-hover: rgb(0, 255, 228);
$color-grey-background: rgb(246, 247, 249);
$color-black-title: rgb(31, 31, 31);
$color-black-light: rgb(72, 73, 77);
$color-black: rgb(0, 0, 0);
$color-black-a50: rgba(0, 0, 0, 0.5);
$color-black-a70: rgba(0, 0, 0, 0.7);
$color-white: rgb(255, 255, 255);
$color-white-a20: rgba(255, 255, 255, 0.2);
$color-white-a70: rgba(255, 255, 255, 0.7);
$color-grey-lighten: rgb(246, 246, 246);

// Отступы
$mobile-padding: 15px;
$tablet-padding: 35px;
$desktop-padding: 20px;

// Размеры вьюпорта
$mobile-width: 767.8px;
$tablet-width: 1023.8px;
$desktop-width: 1024px;

$container-desktop-width: 1236px;
$container-header-width: 994px;

// Шрифты
$main-font: "Open Sans", "Arial", sans-serif;

// Для ретинизации
$retina-dppx: 1.5dppx;
