// Цвета
:root {
}

// Размеры вьюпорта
$mobile-width: 767.8px;
$tablet-width: 1023.8px;
$desktop-width: 1024px;
$container-desktop-width: 1210px;

// Шрифты
$main-font: "Open Sans", "Arial", sans-serif;

// Для ретинизации
$retina-dppx: 1.5dppx;
